@import "../../index.scss";
footer {
  height: 6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;

  & div {
    border-top: $border-layout;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $grey-mid-even-lighter;
    font-size: 1rem;
    max-width: calc(1080px - 10rem);
    margin: 0 auto;

    & a {
      color: inherit;
    }
  }
}
