.about-us {
  &__title {
    margin-bottom: 1.5rem;
  }

  &__text-section {
    & p {
      margin-top: 0;
    }
    margin-bottom: 1.5rem;
  }

  &__image {
    margin: 2rem auto;
    width: 60rem;

    @media screen and (max-width: 750px) {
      width: 100%;
    }
    height: auto;
    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__list-section {
    margin-top: 3rem;
    & h5 {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
    & ul {
      margin-bottom: 2.5rem;
    }
  }
}

.bold {
  font-weight: 700;
  margin-bottom: 0;
}
