@import "../../../../index.scss";
.navigation {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 750px) {
    display: none;
  }

  &__link {
    font-size: 1.1rem;
    text-decoration: none;
    color: $grey-mid;
    text-transform: uppercase;
    transition: all 0.2s;
    border-radius: 4px;
    margin: 0 2rem;

    &:hover {
      color: $grey-darker;
    }

    &--button {
      margin-right: 0;
      width: 10rem;
      height: 4rem;
      background-color: $light-blue;
      text-transform: none;
      color: $normal-blue;
      &:hover {
        background-color: $light-blue-darker;
        color: $normal-blue;
      }
    }
  }
}
