@import "../../../../index.scss";
.slide-container {
  min-height: 44rem;
  width: 100%;
  position: relative;
}

.slide {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -15rem;
  height: 44rem;
  font-size: 3.2rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0) 80%);
  }

  &__titles {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
      color: white;

    &__title {
      font-size: 3.4rem;
      font-weight: 400;
      margin: 1rem 0;
    }

    &__subtitle {
      font-size: 1.8rem;
      overflow: hidden;
      max-width: 30ch;
      font-weight: 300;
      margin: 1rem 0;
      margin-top: 0;
    }

    &__button {
      margin-top: 1rem;
      display: inline-block;
      color: inherit;
      background-color: $normal_blue;
      padding: 2rem 3rem;
      border-radius: .4rem;
      

    }
  }
}

.loading-container {
  height: 44rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
