@import "../../../../index.scss";
.slide-container {
  min-height: 44rem;
  width: 100%;
  position: relative;
}

.slide {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -15rem;
  height: 44rem;
  font-size: 3.2rem;
  position: relative;

  @media screen and (max-width: 1000px) {
    background-position: center center;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0) 80%
    );
  }

  &__titles {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    top: 50%;
    padding: 5rem;
    left: 50%;
    width: calc(100% - 10rem);
    max-width: 1080px;
    transform: translate(-50%, -50%);
    color: white;

    &__title {
      font-size: 3.4rem;
      font-weight: 400;
      margin: 1rem 0;
    }

    &__subtitle {
      font-size: 1.8rem;
      overflow: hidden;
      max-width: 30ch;
      font-weight: 300;
      margin: 1rem 0;
      margin-top: 0;
    }

    &__button {
      margin-top: 1rem;
      display: inline-block;
      color: inherit;
      background-color: $normal_blue;
      padding: 1.5rem 3rem;
      border-radius: 0.4rem;
      text-decoration: none;

      @media screen and (max-width: 750px) {
        text-align: center;
        width: 100%;
        font-size: 1.4rem;
      }
    }
  }
}

.loading-container {
  height: 44rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
