.contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);

  width: 50%;
  margin-bottom: 10rem;
  & h3 {
    margin-bottom: 1rem;
  }
  & p {
    margin-bottom: 1.5rem;
  }

  @media screen and (max-width: 750px) {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
  }

  &__swirly {
    right: calc((100vw - (1080px - 10rem)) / 2);
    position: absolute;
    height: calc(100% - 6rem);
    width: auto;
    top: 3rem;
    z-index: -1;

    @media screen and (max-width: 1080px) {
      right: 5rem;
    }
  }
  &__submit-span {
    width: 98%;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    overflow: scroll;
    max-height: calc(100vh - 20rem);
    grid-row-gap: 1.5rem;

    & button {
      grid-column: 1 / 3;
      font-size: 1.2rem;
    }
  }
}
