.header {
  width: 100%;
  height: 6rem;
  background-color: white;
  border-bottom: 1px solid #E5E5E5;

  &__container {
    margin: 0 auto;
    height: 100%;
    padding: 0 1rem;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


