@import "../../index.scss";
.header {
  width: 100%;
  position: absolute;
  height: 6rem;
  background-color: white;
  border-bottom: $border-layout;

  &__container {
    margin: 0 auto;
    height: 100%;
    padding: 0 5rem;
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 750px) {
      justify-content: center;
    }
  }
}
