@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
// variables
$border-layout: 1px solid #e5e5e5;
//HEIGHT
$section-height: 36rem;
$section-top-bottom-padding: 5rem;
// greys
$grey-mid: #353535;
$grey-mid-lighter: #555555;
$grey-mid-even-lighter: #888888;
$grey-darker: #313131;
$grey-light: #efefef;
$grey-lighter: #f5f5f5;

$light-blue: rgba(81, 202, 232, 0.3);
$light-blue-darker: rgba(81, 202, 232, 0.5);

$normal-blue: #337ab7;
$normal-blue-darker: #2669a3;
$error: #d94a62;
$success: #27b050;
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  color: $grey-mid;
  padding: 0;
  // 1rem = 10px
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;

  & input,
  textarea {
    font-family: "Open Sans", sans-serif;
  }
  & button {
    border: none;
    cursor: pointer;
    font-family: inherit;

    &:focus {
      outline: none;
    }
  }

  & h1,
  h2,
  h3,
  h4,
  ul,
  h5 {
    margin: 0;
    padding: 0;
    color: inherit;
  }

  & h2 {
    font-size: 2.4rem;
    font-weight: 300;
  }

  & h3 {
    font-size: 1.8rem;
    font-weight: 300;
  }

  & h5 {
    font-size: 1.2rem;
  }

  & p {
    font-size: 1rem;
    line-height: 2rem;
    color: $grey-mid;
  }

  & ul {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  & li {
    margin-bottom: 1.2rem;
  }
}
