@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // 1rem = 10px
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;

  & button {
    border: none;
    cursor: pointer;
    font-family: inherit;
  }

  & h1,
  h2,
  h3,
  h4,
  ul,
  h5 {
    margin: 0;
    padding: 0;
    color: inherit;
  }

  & h2 {
    font-size: 2.4rem;
    font-weight: 300;
  }

  & p {
    font-size: 1rem;
    line-height: 2rem;
  }

  & ul {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  & li {
    margin-bottom: 1.2rem;
  }
}

// variables
//HEIGHT
$section-height: 36rem;
$section-top-bottom-padding: 5rem;
// greys
$grey-mid: #353535;
$grey-mid-lighter: #555555;
$grey-darker: #313131;
$grey-light: #efefef;

$light-blue: rgba(81, 202, 232, 0.3);
$light-blue-darker: rgba(81, 202, 232, 0.5);

$normal-blue: #337ab7;
