@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // 1rem = 10px
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;

  & button {
     border:none; 
     cursor: pointer;
     font-family: inherit;
  }
}

// variables
//HEIGHT
$section-height: 44rem;

// greys
$grey-mid: #353535;
$grey-darker: #313131;
$grey-light: #efefef;

$light-blue: rgba(81, 202, 232, 0.3);
$light-blue-darker: rgba(81, 202, 232, 0.5);

$normal-blue: #337AB7 



