@import "../../../../index.scss";
.textSectionTop {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    align-items: center;
    width: 100%;
  }

  &__content {
    color: $grey-mid-lighter;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;

    @media screen and (max-width: 750px) {
      grid-column: 1/3;
    }
    &--imageSection {
      height: 30rem;
      width: auto;
      @media screen and (max-width: 750px) {
        grid-row: 1;
        height: auto;
        width: 100%;
        margin-bottom: 2rem;
      }
    }

    &--textSection {
      padding-right: 2rem;
      @media screen and (max-width: 750px) {
        padding-right: 0;
      }
    }

    &__button {
      margin-top: 1rem;
      display: inline-block;
      color: inherit;
      background-color: $normal_blue;
      padding: 1.5rem 3rem;
      border-radius: 0.4rem;
      color: white;
    }
  }
}
