@import "../../../../index.scss";
.hero {
  &__container {
    width: 100%;
    background-image: url("../../../../assets/blue_glasses_no_hat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-size: 110%;
  }
  &__inner-container {
    max-width: 1080px;
    height: 38rem;
    padding: 5rem;
    display: flex;
    margin: 0 auto;
  }

  &__inner-content {
    width: 50%;
    height: 100%;
    display: flex;
    color: $normal_blue;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 2.5rem;
  }
}
